# WinMerge sometimes dumps backup files, which is bad when I'm comparing test scripts
**/*.txt.bak
**/*.bak
# I don't want to save generated test files, because they can be....re-generated.
**/*generated*.txt
# temporary: don't update PDF/PNG
**/*.pdf
**/*.png
# backup story files I don't want to get swept up into source control
**/*.nh
**/*.nj
# trizbort stuff
appsettings.json
