# WinMerge sometimes dumps backup files, which is bad when I'm comparing test scripts
**/*.txt.bak
**/*.bak
# I don't want to save generated test files, because they can be....re-generated.
**/reg-*-generated-*.txt
